#Home{
overflow: hidden;
width: 100%;
color: white;
}

#main-text{
margin: 10% 10% 5%;
text-align: center;
word-spacing: 3px;

}

#name-text{
font-size: 90px;
color: white;
}

#sub-text{
font-size: 30px;
}


#entry{
display: flex;
width: 70%;
margin: 0 auto;
}

.fr-btn{
text-decoration: none !important;
background: transparent ;
letter-spacing:8px;
text-align: center;
color:white;
font-size: 30px;
border: none;
margin: auto;
width: 250px;
padding: 15px 12px;

}

.fr-btn:nth-of-type(1){
    background: rgb(224, 67, 36)!important;
  }
  .fr-btn:nth-of-type(2){
    border-top: solid white 3px;
    border-bottom: solid white 3px;
  }